In [6]:
import pandas as pd
import numpy as np

In [7]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [14]:
dump_site = pd.read_csv("https://data.wprdc.org/dataset/ed4cf849-d323-4d01-8a13-675d283f1ac9/resource/ee834d8d-ae71-4b3b-b02b-312ba321ff17/download/illegaldumpsites.csv")
dump_site.head(10)

,site_name,Status,City,Neighborhood,estimated_tons,location_description,latitude,longitude,Unnamed: 8
0,St. Martin Street,Surveyed,Pittsburgh,Allentown,0.5,NaN,40.42221971,-79.99022525,NaN
1,Brosville Street,Surveyed,Pittsburgh,Allentown,3,NaN,40.42370101,-79.98657393,NaN
2,McCain Street,Surveyed,Pittsburgh,Allentown,1,NaN,40.42427063,-79.99022675,NaN
3,Ceres Way,Surveyed,Pittsburgh,Allentown,0.5,NaN,40.42327242,-79.99248958,NaN
4,Eureka Street,Completed,Pittsburgh,Allentown,0.1,NaN,40.42372131,-79.99478912,NaN
5,222 Walter Street,Completed,Pittsburgh,Allentown,5,dump is in deteriorated garage,40.42022451,-79.99477699,NaN
6,Grimes and Elsinburg,Completed,Pittsburgh,Allentown,0.3,"residential street, across the street from a s...",40.41544068,-79.99297857,NaN
7,Parkwood Road Site 1,Surveyed,Pittsburgh,Arlington,3,NaN,40.41068203,-79.96578013,NaN
8,Parkwood Road Site 2,Surveyed,Pittsburgh,Arlington,4,NaN,40.41144932,-79.96714085,NaN
9,Parkwood Road Site 3,Completed,Pittsburgh,Arlington,2.5,NaN,40.41397095,-79.97727203,NaN

In [24]:
dump_site.drop(['site_name', 'City', 'location_description','latitude', 'longitude', 'Status'], axis=1)

               Neighborhood estimated_tons  Unnamed: 8
0                 Allentown            0.5         NaN
1                 Allentown              3         NaN
2                 Allentown              1         NaN
3                 Allentown            0.5         NaN
4                 Allentown            0.1         NaN
5                 Allentown              5         NaN
6                 Allentown            0.3         NaN
7                 Arlington              3         NaN
8                 Arlington              4         NaN
9                 Arlington            2.5         NaN
10                Arlington              2         NaN
11                Arlington            0.5         NaN
12                Arlington            0.5         NaN
13                Arlington            1.5         NaN
14                Arlington              2         NaN
15                Arlington            1.5         NaN
16                   Avalon            0.5         NaN
17                   Avalon            0.5         NaN
18               Banksville              1         NaN
19           Barking Slopes              1         NaN
20           Barking Slopes              2         NaN
21        Bedford Dwellings              1         NaN
22                Beechview              2         NaN
23                Beechview              2         NaN
24                Beechview              1         NaN
25                Beechview              1         NaN
26                Beechview              1         NaN
27                Beechview            1.5         NaN
28                Beechview              2         NaN
29                Beechview            0.5         NaN
..                      ...            ...         ...
854            West Mifflin            0.5         NaN
855            West Mifflin              4         NaN
856            West Oakland            2.5         NaN
857            West Oakland            0.3         NaN
858            West Oakland             10         NaN
859            West Oakland            2.5         NaN
860            West Oakland              2         NaN
861               West View              2         NaN
862               West View            0.3         NaN
863               West View              1         NaN
864               West Wood              1         NaN
865                Whitaker            0.5         NaN
866               White Oak            0.5         NaN
867                 Wilkins            0.5         NaN
868                 Wilkins            0.3         NaN
869                 Wilkins            1.5         NaN
870     Wilkins/Monroeville            1.5         NaN
871             Wilkinsburg              2         NaN
872             Wilkinsburg            0.5         NaN
873             Wilkinsburg            1.3         NaN
874             Wilkinsburg              2         NaN
875             Wilkinsburg            0.5         NaN
876             Wilkinsburg            0.5         NaN
877             Wilkinsburg            2.5         NaN
878             Wilkinsburg            0.3         NaN
879             Wilkinsburg            0.3         NaN
880  Wilkinsburg/Penn Hills              6         NaN
881                 Windgap              2         NaN
882                 Windgap            0.5         NaN
883                 Windgap            1.5         NaN

[884 rows x 3 columns]