In [2]:
import pandas as pd
import numpy as np
%matplotlib inline
import matplotlib.pyplot as plt

In [3]:
import ssl

ssl._create_default_https_context = ssl._create_unverified_context

In [4]:
dump_site = pd.read_csv("https://data.wprdc.org/dataset/ed4cf849-d323-4d01-8a13-675d283f1ac9/resource/ee834d8d-ae71-4b3b-b02b-312ba321ff17/download/illegaldumpsites.csv")
dump_site.head(20)

,site_name,Status,City,Neighborhood,estimated_tons,location_description,latitude,longitude,Unnamed: 8
0,St. Martin Street,Surveyed,Pittsburgh,Allentown,0.5,NaN,40.42221971,-79.99022525,NaN
1,Brosville Street,Surveyed,Pittsburgh,Allentown,3,NaN,40.42370101,-79.98657393,NaN
2,McCain Street,Surveyed,Pittsburgh,Allentown,1,NaN,40.42427063,-79.99022675,NaN
3,Ceres Way,Surveyed,Pittsburgh,Allentown,0.5,NaN,40.42327242,-79.99248958,NaN
4,Eureka Street,Completed,Pittsburgh,Allentown,0.1,NaN,40.42372131,-79.99478912,NaN
5,222 Walter Street,Completed,Pittsburgh,Allentown,5,dump is in deteriorated garage,40.42022451,-79.99477699,NaN
6,Grimes and Elsinburg,Completed,Pittsburgh,Allentown,0.3,"residential street, across the street from a s...",40.41544068,-79.99297857,NaN
7,Parkwood Road Site 1,Surveyed,Pittsburgh,Arlington,3,NaN,40.41068203,-79.96578013,NaN
8,Parkwood Road Site 2,Surveyed,Pittsburgh,Arlington,4,NaN,40.41144932,-79.96714085,NaN
9,Parkwood Road Site 3,Completed,Pittsburgh,Arlington,2.5,NaN,40.41397095,-79.97727203,NaN
10,Mountain Avenue,Completed,Pittsburgh,Arlington,2,NaN,40.41470159,-79.97789501,NaN
11,Jonquil Street,Surveyed,Pittsburgh,Arlington,0.5,NaN,40.41609955,-79.9805603,NaN
12,Bassler Street,Surveyed,Pittsburgh,Arlington,0.5,NaN,40.41400146,-79.96459198,NaN
13,Azul Street,Surveyed,Pittsburgh,Arlington,1.5,NaN,40.41648095,-79.96574277,NaN
14,Rothman Street,Surveyed,Pittsburgh,Arlington,2,NaN,40.41384125,-79.97312164,NaN
15,Parkwood site 4,Partially Cleaned,Pittsburgh,Arlington,1.5,NaN,40.41354178,-79.97608602,NaN
16,Spruce Run & Frederick,Surveyed,Avalon,Avalon,0.5,"Deep ravine contains large items, a sled, yard...",40.50406,-80.07102,NaN
17,Norwood and City View,Surveyed,Avalon,Avalon,0.5,NaN,40.50789,-80.06906,NaN
18,Medhurst Street,Surveyed,Pittsburgh,Banksville,1,NaN,40.41338781,-80.03676342,NaN
19,Barking Slopes,Completed,Plum Borough,Barking Slopes,1,Site is located on land owned by Allegheny Lan...,40.53390243,-79.79204318,NaN

In [6]:
dump = dump_site.drop(['site_name', 'City', 'location_description','latitude', 'longitude', 'Status'], axis=1)
#dump.set_index('Neighborhood')
dump.head(10)

  Neighborhood estimated_tons  Unnamed: 8
0    Allentown            0.5         NaN
1    Allentown              3         NaN
2    Allentown              1         NaN
3    Allentown            0.5         NaN
4    Allentown            0.1         NaN
5    Allentown              5         NaN
6    Allentown            0.3         NaN
7    Arlington              3         NaN
8    Arlington              4         NaN
9    Arlington            2.5         NaN

In [1]:
dump_site["Neighborhood"].value_counts().sort_index().plot(kind='bar', rot=90, figsize = (30,20))

NameError: name 'dump_site' is not defined

In [13]:
dump_site['Neighborhood'].unique()
len(dump_site['Neighborhood'].unique())
#Okay, so we should probably remove any locations with the least amounts of trash by a certain margin

152